$base-color: #60514C;



// The following two lines import the default Sencha Touch theme. If you are building
// a new theme, remove them and the add your own CSS on top of the base CSS (which
// is already included in your app.json file).
@import 'sencha-touch/default';
@import 'sencha-touch/default/all';
//@import 'url(http://fonts.googleapis.com/css?family=Pacifico)';

// Custom code goes here..
.x-layout-card-item { 
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-image: url(https://farm1.staticflickr.com/146/374746707_c4d36ef12d_b.jpg);
  }

 html,body {font-family: 'Pacifico', cursive;}

// Examples of using the icon mixin:
// @include icon('user');
